{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "plugins": [
    "babel",
    "promise"
  ],
  "env": {
    "node" : true
  },
  "globals": {
    "__DEV__"       : false,
    "__TEST__"      : false,
    "__PROD__"      : false,
    "__COVERAGE__"  : false,
    "__SKIP_AUTH__" : false
  },
  "rules": {
    "import/no-unresolved":               0,
    "newline-per-chained-call":           [2, { "ignoreChainWithDepth" : 2 }],
    "implicit-arrow-linebreak":           0,
    "object-curly-newline":               [2, { "consistent": true }],
    "no-else-return":                     [2, { "allowElseIf" : true }],
    "arrow-parens":                       0,
    "no-underscore-dangle":               0,
    "comma-dangle":                       0,
    "max-len":                            [1, 120, 2, { "ignoreComments": true} ],
    "key-spacing":                        [0, { "align": "value" }],
    "no-multi-spaces":                    ["error", { "exceptions": { "VariableDeclarator": true, "ImportDeclaration" : true } }],
    "space-before-function-paren":        ["error", {"anonymous": "never", "named": "never", "asyncArrow" : "always"}],
    "semi":                               [2, "always" ],
    "no-console":                         "warn",
    "no-unused-vars":                     ["error", { "args" : "none" }]
  }
}
